In [4]:
# Dependencies and Setup

import gmaps
from us import states
from api_keys import g_key
from citipy import citipy
import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt

# Access maps with unique API key
gmaps.configure(api_key=g_key)

In [5]:
# Read csv datae file from part one into a DataFrame
city_data_info_df = pd.read_csv("output_data/results_data_file.csv")
city_data_info_df = city_data_info_df.rename(columns={"Unnamed: 0": "City ID" })
city_data_info_df.head()

,City ID,City,Latitude,Longitude,Maximum Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,mataura,-46.19,168.86,64.0,64,10,5.99,NZ,1585713612
1,1,hilo,19.73,-155.09,73.4,83,90,4.70,US,1585713320
2,2,atuona,-9.80,-139.03,82.0,80,1,13.60,PF,1585713613
3,3,adrar,20.50,-10.07,76.8,16,100,6.38,MR,1585713613
4,4,vaini,-21.20,-175.20,84.2,74,20,8.05,TO,1585713614

In [25]:
#Creating Heat map that displays the humidity for every city
#Source: https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html

# Store 'Latitude' and 'Longitude' into  locations 
location = city_data_info_df[["Latitude", "Longitude"]].astype(float)

# Convert humidity to float and store
humidity = city_data_info_df["Humidity"].astype(float)

#Setting map zoom and center
center_coordinates = (0,0)
fig = gmaps.figure(center = center_coordinates, zoom_level=1)

# Create a humidity Heatmap layer
heat_layer = gmaps.heatmap_layer(location, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#Create DataFrame for ideal weather condition for myself
#A max temperature lower than 80 degrees but higher than 60
#Wind speed less than 10 mph
#No cloudiness preference
#Humidity lower than 45%

ideal_weather_df = city_data_info_df.loc[(city_data_info_df["Maximum Temperature"] >=60) & 
                                         (city_data_info_df["Maximum Temperature"] <80)  &
                                         (city_data_info_df["Wind Speed"] <10) &
                                         (city_data_info_df["Humidity"] <45)
                                         ]
ideal_weather_df

,City ID,City,Latitude,Longitude,Maximum Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,adrar,20.50,-10.07,76.80,16,100,6.38,MR,1585713613
22,22,busselton,-33.65,115.33,78.01,35,100,2.48,AU,1585713620
51,51,port augusta,-32.50,137.77,78.01,44,90,5.82,AU,1585713628
65,65,ibb,13.97,44.18,65.14,44,67,1.45,YE,1585713632
90,90,munak,29.52,76.85,76.12,37,1,5.23,IN,1585713640
146,146,riyadh,24.69,46.72,68.00,24,0,9.17,SA,1585713470
164,164,najran,17.49,44.13,68.00,32,5,2.89,SA,1585713657
170,170,altar,30.70,-111.82,74.30,22,100,6.53,MX,1585713659
212,212,saint george,37.10,-113.58,62.60,36,1,9.17,US,1585713610
227,227,mecca,21.43,39.83,73.20,43,0,1.99,SA,1585713409
245,245,catalina foothills,32.30,-110.92,69.80,22,20,4.70,US,1585713676
246,246,barmer,25.75,71.38,78.35,33,0,6.87,IN,1585713677
255,255,doha,25.29,51.53,73.40,43,0,4.70,QA,1585713617
276,276,te anau,-45.42,167.72,62.40,44,0,2.10,NZ,1585713683
291,291,mount gambier,-37.83,140.77,71.60,43,100,4.70,AU,1585713484
298,298,diego de almagro,-26.37,-70.05,61.92,43,4,1.41,CL,1585713688
303,303,dali,25.70,100.18,69.71,13,0,6.15,CN,1585713689
330,330,taoudenni,22.68,-3.98,73.98,17,92,5.95,ML,1585713695
392,392,sakakah,29.97,40.21,62.60,21,5,6.93,SA,1585713709
440,440,wanaka,-44.70,169.15,65.97,31,0,1.36,NZ,1585713720

In [8]:
#Create DataFrame for hotels 
#Including Hotel Name, City, and Country
#Setting up for finding nearest hotel

#Building DataFrame with data already in place
nearest_hotel_df = ideal_weather_df[["City", "Latitude", "Longitude", "Country",]]
nearest_hotel_df["City"] = nearest_hotel_df["City"].str.title()

#Adding a column to store Hotel Name
nearest_hotel_df["Hotel Name"] = ""
nearest_hotel_df

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

                   City  Latitude  Longitude Country Hotel Name
3                 Adrar     20.50     -10.07      MR
22            Busselton    -33.65     115.33      AU
51         Port Augusta    -32.50     137.77      AU
65                  Ibb     13.97      44.18      YE
90                Munak     29.52      76.85      IN
146              Riyadh     24.69      46.72      SA
164              Najran     17.49      44.13      SA
170               Altar     30.70    -111.82      MX
212        Saint George     37.10    -113.58      US
227               Mecca     21.43      39.83      SA
245  Catalina Foothills     32.30    -110.92      US
246              Barmer     25.75      71.38      IN
255                Doha     25.29      51.53      QA
276             Te Anau    -45.42     167.72      NZ
291       Mount Gambier    -37.83     140.77      AU
298    Diego De Almagro    -26.37     -70.05      CL
303                Dali     25.70     100.18      CN
330           Taoudenni     22.68      -3.98      ML
392             Sakakah     29.97      40.21      SA
440              Wanaka    -44.70     169.15      NZ

In [9]:
#Set parameters to search for nearest hotel within 5000 meters

target_radius = 5000
target_type = "lodging"

params = {"radius": target_radius,
          "types": target_type,
          "key": g_key
         }

#Go through index in nearest hotel DataFrame
for index, row in nearest_hotel_df.iterrows():
    # get latitude, longitude from df
    latitude = row["Latitude"]
    longitude = row["Longitude"]
    
    #set location parameteres
    params["location"] = f"{latitude},{longitude}"
    
    #Base URL
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    #run a request using our params dictionary
    hotel_response = requests.get(base_url, params=params)
    
    # convert response to json
    hotel_name_response = hotel_response.json()
    
    # Print hotel names from the results and store in DataFrame
    try:
        nearest_hotel_df.loc[index, "Hotel Name"] = hotel_name_response["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

#Converting all Hotel Names to Title
nearest_hotel_df["Hotel Name"] = nearest_hotel_df["Hotel Name"].str.title()

nearest_hotel_df

Missing field/result... skipping.

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Missing field/result... skipping.

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Latitude,Longitude,Country,Hotel Name
3,Adrar,20.50,-10.07,MR,
22,Busselton,-33.65,115.33,AU,Observatory Guest House
51,Port Augusta,-32.50,137.77,AU,Majestic Oasis Apartments
65,Ibb,13.97,44.18,YE,فندق بابل السياحي
90,Munak,29.52,76.85,IN,Rajput Dharamshala
146,Riyadh,24.69,46.72,SA,Intercontinental Riyadh
164,Najran,17.49,44.13,SA,محمد هادي ال فطيح
170,Altar,30.70,-111.82,MX,Hotel Maria Elena
212,Saint George,37.10,-113.58,US,Best Western Plus Abbey Inn
227,Mecca,21.43,39.83,SA,Hotel Fairmont Makkah Clock Royal Tower
245,Catalina Foothills,32.30,-110.92,US,The Westin La Paloma Resort & Spa
246,Barmer,25.75,71.38,IN,Oyo 71911 Hotel Amber Palace
255,Doha,25.29,51.53,QA,Ezdan Hotel
276,Te Anau,-45.42,167.72,NZ,Kingsgate Hotel Te Anau
291,Mount Gambier,-37.83,140.77,AU,Best Western Southgate Motel
298,Diego De Almagro,-26.37,-70.05,CL,Hotel Luna Del Desierto
303,Dali,25.70,100.18,CN,Dali Travelling With Hostel
330,Taoudenni,22.68,-3.98,ML,
392,Sakakah,29.97,40.21,SA,Fakhamat Al Orjoana Apartment
440,Wanaka,-44.70,169.15,NZ,Wanaka Homestead Lodge And Cottages

In [22]:
#Creating Heat Map with Hotels and Hotel information box
#Marker and Info Box
#https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html

#Creating information box marker template 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Latitude</dt><dd>{Latitude}</dd>
<dt>Longitude</dt><dd>{Longitude}</dd>
</dl>
"""

#Setting information box marker variables
hotel_locations = nearest_hotel_df[["Latitude", "Longitude"]]
hotel_info_box = [info_box_template.format(**row) for index, row in nearest_hotel_df.iterrows()]

# Assign the marker layer to a variable
marker_layer = gmaps.marker_layer(hotel_locations, info_box_content=hotel_info_box)

#Setting map zoom and center
center_coordinates = (0,0)
fig = gmaps.figure(center = center_coordinates, zoom_level=1)

# Create a combined layer map

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))